footer {
  background: #fff;
  color: $lgt-black;
  float: left;
  width: 100%;
  padding: 5px 15px;

  .sub-title {
    font-size: 12px;
  }

  .copyright {
    position: relative;
    @include span(12 of 12);
    margin-left:0;
    text-align: center;

    @include breakpoint($mobile-landscape) {
      @include span(3 of 12);
      margin-left: 10%;
      margin-right:5%;
      text-align: center;
    }

    @include breakpoint($tablet-portrait) {
      max-width: 20%;
    }

    .title {
      font-size: 18px;
      font-weight: bold;
      margin-left:0;
    }

    &:before {
      content: '';
      background-image: url('../images/logo.png');
      width: 30px;
      height: 30px;
      background-size: 86%;
      background-repeat: no-repeat;
      left:26%;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      position: absolute;

      @include breakpoint($mobile-landscape) {
        left:-10px;
      }
    }
  }

  .product, .contact, .social-media {
    margin-left: 1 ;
    margin-right: 0;
    @include span(4 of 12);
    margin-top: 10px;

    @include breakpoint($mobile-landscape) {
      @include span(2 of 12);
      margin: 0;
    }
  }
  .social-media {
    @include span(3 of 12);

    @include breakpoint($mobile-landscape) {
      @include span(3 of 12);
      margin-left: 0
    }


    .fa {
      width: 20px;
      height: 20px;
      padding: 5px 0px;
      margin: 0 2px;
      font-size: 8px;
      text-align: center;
      text-decoration: none;
      background: $lgt-gray;
      border-radius: 50%;
      &:hover {
        background: darken($lgt-gray, 20%);
      }
      @include breakpoint($mobile-landscape) {
        margin: 0 5px;
      }
    }

  }

  .sub-title {
    text-align: left;
    display: block;
    margin-bottom: 10px;

    @include breakpoint($mobile-landscape) {
      text-align: left;
    }
  }
  .contact-list, .product-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      font-size: 11px;
      text-align: left;

      a{
        color: $lgt-black;
      }

      @include breakpoint($mobile-landscape) {
        text-align: left;
      }
    }
  }
}
