header {
  display: block;
  margin: 0 auto;
  padding: 0;
  background: $primary-color;
  background: linear-gradient(to right, #4e4e4e, #414141, #333333);
  color: $secondary-color;
  position: relative;

  @include breakpoint($mobile-landscape) {
    height: 450px;
    padding: 15px 0;
  }

  .navigation {
    position: relative;
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    list-style: none;
    color: $secondary-color;

    @include breakpoint($mobile-landscape) {
      height: 40px;
    }

    .nav-button{
      background: $accent-color url('../images/menu.png') no-repeat center;
      background-size: 100%;
      width: 90px;
      height: 44px;
      right: 10px;
      top: 10px;
      position: absolute;
      display: block;
      appearance:none;
      border: none;
      z-index: 11;

      &:hover{
        transform: scale(1.1);
        transition: transform 1s;
      }

      @include breakpoint($mobile-landscape) {
        display: none;
      }

    }

    .nav-list {
      width: 100%;
      padding: 0;
      margin: 0;
      position: absolute;
      display: none;
      transition: all 0.2s;

      &.active{
        display: block;
        z-index: 10;
        background: lighten($primary-color,10%);
        position: relative;
        height: 200px;
        padding-top: 20px;
      }

      @include breakpoint($mobile-landscape) {
        display: block;
        margin: 0 auto;
        width: 80%;
        position: relative;
      }
    }

    .nav-item{
      display: block;
      font-size: 14px;
      width: 100%;
      float: left;
      margin: 0 auto;
      padding: 10px;
      text-transform: uppercase;
      text-align: center;

      @include breakpoint($mobile-landscape) {
        display: inline-block;
        font-size: 14px;
        width: 20%;
      }


      a {
        width: 100%;
        color: $secondary-color;
        &:hover{
          color: darken($secondary-color, 20%);
        }
      }
    }
  }
}

.main-wrapper {
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint($mobile-landscape) {
    min-height: 390px;
    padding: 10px 15px;
    @include span(12 of 12);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    position: relative;
    left: 5%;

    h1 {
      font-size: 32px;
      text-transform: uppercase;
      letter-spacing: 3px;
      text-align: center;

      @include breakpoint($mobile-landscape) {
        font-size: 56px;
      }
    }

    &::before {
      content: '';
      background-image: url('../images/logo.png');
      background-position: center;
      background-size: 70%;
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
      left: -30%;
      top: 50%;
      transform: translate(0,-50%);
      position: absolute;

      @include breakpoint($mobile-landscape){
        width: 90px;
        height: 100px;
      }
    }
  }
}

.more-info {
  width: 100%;
  float: none;
  background: $accent-color;
  padding: 5px 10px;

  @include breakpoint($mobile-landscape) {
    @include span(12 of 12);
    height: 120px;
    padding: 10px 15px;
  }

  .info {
    width: 100%;
    float: none;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;

    @include breakpoint($mobile-landscape){
      padding: 10px 30px;
    }

    p {
      width: 80%;
      display: inline-block;
      padding: 0 10px;
      font-size: 14px;
      @include breakpoint($mobile-landscape) {
        font-size: 16px;
      }
    }
  }
}

.info-btn {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background: $secondary-color;
  box-sizing: border-box;
  display: inline-block;
  color: darken($alt-gray, 10%);
  text-transform: uppercase;
  font-size: 12px;

  &:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
  }

  @include breakpoint($mobile-landscape) {
    width: 160px;
    font-size: 14px;
  }
}
