//Main colors
$primary-color: #434343;
$secondary-color: #fff;
$accent-color: #ff6008;

// Colors
$color1: #24555C;
$color2: #F2F5F8;
$color3: #6DC0D1;
$color4: #2D3638;
$accent: #D24780;

/*Breakpoints */
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-landscape: 992px;
$desktop: 1200px;
